* {
    font-family: "Trirong", serif;
}

#main {
    position: relative;
    color: white;
    text-align: center;
    border: 10px black;
    border-radius: 10px;
    background-color: #08818a;
    box-shadow:0px 0px 10px #08818a;
    margin: 10px 2px 10px 2px;
    
}
#div1 {
    float: left;
    width: 50%;
    color: white;
    text-align: center;
    border-radius: 10px;
    background-color: #000000;
    box-shadow:0px 0px 10px #000000;
}
#div2 {
    float: right;
    width: 49%;
    color: white;
    text-align: center;
    border-radius: 10px;
    background-color: #0e92df;
    box-shadow:0px 0px 10px #0e92df;
}